/* Simple Interest Calculator CSS */

body {
    background-color:black; 
    font-family:arial;
    color:white
}
h1{
    color:grey;
    font-family:verdana;
}
.maindiv{
   
    background-color: white;
    color: black;
    width: 300px;
    margin: 10% 0 0 39%;
    padding: 20px;
    border-radius: 25px; 
}

.btn{
    background-color: lightgray;
    color: black;
    font-size: medium;
    margin: 10px;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;

}


footer{
    text-align: center;
    padding: 5%;
}




